* {
    margin: 0;
    padding: 0;
}

h1{
    color: #582f0e;
    margin-top: 50px;
}

body{
    text-align: center;
    background-color: #e6ccb2;
}

.container{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5vmin;
}

.box{
    background-color: #7f5539;
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 9vmin;
    color: #ede0d4;
}

.reset {
    height: 5vmin;
    width: 20vmin;
    border-radius: 1rem;
    background-color: #b27e53;
    color:#582f0e;
    border: none;
    font-size: 1.8vmin;
    font-weight: 600;
}